@model G19.Models.Oefening

@{
    ViewData["Title"] = "_Comments";
}

@foreach (var comments in @Model.Comments) {
<div class="container">
    <div class="card">@comments.Comments</div>
    <div class="card">@comments.Comments</div>
    <div class="card">@comments.Comments</div>
    <div class="card">@comments.Comments</div>
    <div class="card">@comments.Comments</div>



</div>
}

