@model G19.Models.Oefening
@{
    ViewData["Title"] = Model.Naam;

}

<head>
    <link rel="stylesheet" href="~/css/Oefeningen.css" />
    <link rel="stylesheet" href="~/css/sidenav.css" />
</head>
<body>
    <div id="sidenavOefeningen" class="sidenav">
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ZWART">ZWART</a>
        <a asp-controller="Oefening" asp-action="GeefOefeningenPerGraad" asp-route-graad="ALLES">ALLES</a>
    </div>
    <div class="containerOefeningen">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link oefeningNavItem" id="tekst">Tekst</a>
            </li>
            <li class="nav-item">
                <a class="nav-link oefeningNavItem" id="fotos">Foto's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link oefeningNavItem" id="videos">Video's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link oefeningNavItem" id="comments">Commentaar</a>
            </li>
        </ul>
        @* <div id="inhoud"></div>*@
        <div id="inhoudtekst"><partial name="_Text" model="@Model" /></div>
        <div class="hidden" id="inhoudfotos"><partial name="_Fotos" model="@Model" /></div>
        <div class="hidden" id="inhoudvideos"><partial name="_Video" model="@Model" /></div>
        <div class="hidden" id="inhoudcomments"><partial name="_Comments" model="@Model" /></div>

    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        show("tekst", "inhoudtekst");
        show("fotos", "inhoudfotos");
        show("videos", "inhoudvideos");
        show("comments", "inhoudcomments");
        var Previousiddiv = "inhoudtekst";
        function show(idlink,iddiv) {
            $("#" + idlink).click(function () {
                if (Previousiddiv != "")
                    $("#" + Previousiddiv).addClass("hidden");
                $("#" + iddiv).removeClass("hidden");
                Previousiddiv = iddiv;
            });
        }
         @*$("#tekst").click(function () {
            $.get('@Url.Action("geefTextView", "Oefening",@Model)', {}, function (response) {
                $("#inhoud").html(response);
            });
        });

                $("#fotos").click(function () {
    $.get('@Url.Action("geefFotoView", "Oefening",@Model)', {}, function (response) {
        $("#inhoud").html(response);
    });
        });
                        $("#videos").click(function () {
    $.get('@Url.Action("geefVideoView", "Oefening",@Model)', {}, function (response) {
        $("#inhoud").html(response);
    });
});
        $("#comments").click(function () {
    $.get('@Url.Action("geefCommentView", "Oefening",@Model)', {}, function (response) {
        $("#inhoud").html(response);
    });
});*@


        //document.getElementById("tekst").onclick = function () { myFunction() };

        @*function myFunction(){

            $("#contentDiv").load("@Html.ActionLink("Oefening", "geefTextView", Model)");
        }*@

    </script>
</body>



@*render("tekst", "geefTextView");
            render("fotos", "geefFotoView");
            render("videos", "geefVideoView");
            render("comments", "geefCommentView");


            function render(id, methodename) {
    @{methodename = methodename};
                console.log(@methodename);
                @methodename = "geefTextView";
                $(`#${id}`).click(function () {
                $.get(@Url.Action(@methodename, "Oefening"), {}, function (response) {
                $("#inhoud").html(response);
                });

                });
                }*@