@model IEnumerable<G19.Models.Oefening>
@{
    ViewData["Title"] = "Oefeningen";
}

<head>
    <link rel="stylesheet" href="~/css/Oefeningen.css" />

</head>
<div>
    <div class="containerOefeningen">
        @*vertical nav with colapse
        <ul class="nav flex-column graadnav">
            @foreach (var graad in ViewData["graden"] as IList<GraadEnum>) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="oefening" asp-action="SetOefeningenPerGraad" asp-route-graad="@graad">@graad</a>
                    <div class="dropdown-menu">
                        @foreach (var oef in ViewData["Oefeningen"] as IList<Oefening>) {
                            <a class="dropdown-item" href="#">@oef.Naam</a>
                        }
                    </div>
                </li>
            }
        </ul>*@
        <h2>Oefeningen</h2>
        <ul>
            @foreach (var oefening in Model) {
 <li>
    <a asp-controller="Oefening" asp-action="GeefOefeningById" asp-route-graad=@oefening.Graad asp-route-id=@oefening.Id>
        @oefening.Naam

    </a>
</li>


            }
            </ul>
            @*<partial name="_Oefening" model="@Model.First()" />*@

</div>

    </div>
