@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<head>
    <link rel="stylesheet" href="~/css/mainnav.css" />
</head>
<body>
    <div class="navbar">
        <ul>
            @*<li></li> *@
            <li><a href="http://jiu-jitsu-gent.be/" target="_blank"><img src="~/img/TaijitanLogo.png" id="logo" /></a><a target="_blank" href="http://jiu-jitsu-gent.be/" class="navA">Taijitan Yoshin Ryu VZW</a></li>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Lesgever")).Succeeded) {
                <li> <a asp-controller="Home" asp-action="Index" class="navA">Aanwezigheid registreren</a></li>
                <li><a asp-controller="Home" asp-action="GeefAanwezigenVandaag" class="navA">Raadplegen lesmateriaal</a></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Session", new { area = "" })">
                        <button type="submit" class="navA">Logout</button>
                    </form>
                </li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="navA">Hello @User.Identity.Name!</a></li>

            } else if(User.Identity.IsAuthenticated){
                <li><a asp-controller="Lid" asp-action="Edit" class="navA">Gegevens lid wijzigen</a></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Lid", new { area = "" })">
                        <button type="submit" class="navA">Logout</button>
                    </form>
                </li>
            }
        </ul>

        <a asp-controller="Session" asp-action="FakeToday" asp-route-dag="@DayOfWeek.Tuesday" class="navA">Din</a>
        <a asp-controller="Session" asp-action="FakeToday" asp-route-dag="@DayOfWeek.Wednesday" class="navA">Woe</a>
        <a asp-controller="Session" asp-action="FakeToday" asp-route-dag="@DayOfWeek.Sunday" class="navA">Zon</a>

    </div>

</body>

        @*<nav class="navbar navbar-expand-lg">
        <a class="navbar-brand align-self-center" href="#"><img src="~/img/TaijitanLogo.png" id="logo" /></a><span class="align-content-center" id="mainText">Taijitan Roshin Ryu VZW</span>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link navA" asp-controller="Home" asp-action="Index">Aanwezigheid registreren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navA" asp-controller="Home" asp-action="GeefAanwezigenVandaag">Raadplegen lesmateriaal</a>
                </li>
            </ul>
        </div>
    </nav>*@
