@model IEnumerable<Lid>
@{
    ViewData["Title"] = "Taijitan Yoshin Ryu VZW";
}
<head>
    <link rel="stylesheet" href="~/css/homeAanwezigheden.css" />
</head>
<body>

    <div class="containerAanwezigheden">
        <h1 class="header">Bekijk lesmateriaal</h1>
        <div class="containerAanwezighedenCards">
            @foreach (var lid in Model) {
            <div class="card @(lid.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : lid.Graad.ToString().ToLower())" style="background-color:@(lid.benIkAanwezigVandaag()?"var(--aanwezigheidGemeld)":"var(--counter)"); border: 5px solid @(lid.Graad.ToString("").ToLower().StartsWith("dan") ? "black" : lid.Graad.ToString("").ToLower())">
                <a asp-controller="Oefening" asp-action="GeefOefeningenLid" asp-route-lidId="@lid.Id" class="lidButton nameAnchor">@lid.Familienaam<br />@lid.Voornaam</a>                
            </div>

            }
        </div>
    </div>
    <script>

    </script>
</body>

