@model IEnumerable<Lid>
@{
    ViewData["Title"] = "Aanwezigheden";
}
<head>
    <link rel="stylesheet" href="~/css/homeAanwezigheden.css" />
</head>
<body>

    <div class="containerAanwezigheden">
        <h1 class="header">Bekijk lesmateriaal</h1>
        <div class="containerAanwezighedenCards">
            @foreach (var lid in Model) {
            <a asp-controller="Oefening" asp-action="GeefOefeningenLid" asp-route-lidId="@lid.Id" class="cardButton">
                <div class="card @(lid.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : lid.Graad.ToString().ToLower())" style="background-color:@(lid.BenIkAanwezigVandaag()?"var(--aanwezigheidGemeld)":"var(--accent5)"); border: 5px solid @(lid.Graad.ToString("").ToLower().StartsWith("dan") ? "black" : lid.Graad.ToString("").ToLower());">
                    <img src="~/img/stock.jpg" class="float-left pf" />
                    <p style="color:@(lid.BenIkAanwezigVandaag()?"#F6F5F6":"black")">@lid.Familienaam<br /> @lid.Voornaam</p>
                    

                </div>
            </a>
            }
        </div>
    </div>
    <script>

    </script>
</body>

