@model IEnumerable<Lid>
@{
    ViewData["Title"] = "Taijitan Yoshin Ryu VZW";
}
<head>
    <link rel="stylesheet" href="~/css/homeAanwezigheden.css" />
    <link rel="stylesheet" href="~/css/sidenav.css" />

</head>
<body>
    <div id="sidenavAanwezigheden" class="sidenav">
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ZWART">ZWART</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ALLES">ALLES</a>
    </div>
    <div class="containerAanwezigheden">
        <h1>Registreer aanwezigheid</h1>
        <div class="containerAanwezighedenCards">
            @foreach (var lid in Model) {

                <div class="card @(lid.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : lid.Graad.ToString().ToLower())" style="background-color:@(lid.benIkAanwezigVandaag()?"#00909a":"var(--counter)"); border: 5px solid @(lid.Graad.ToString("").ToLower().StartsWith("dan") ? "black" : lid.Graad.ToString("").ToLower())">
                    <img src="~/img/stock.jpg" class="float-left pf" />
                    <a asp-controller="Home" asp-action="RegistreerAanwezigheid" asp-route-id="@lid.Id" class="lidButton nameAnchor">@lid.Familienaam @lid.Voornaam</a>
                    @*<div class="graadBox @(lid.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : lid.Graad.ToString().ToLower())"></div>*@
                    @*<div asp-route="oefening" class="arrow"> <i class="fas fa-arrow-right"></i></div>*@
                </div>
            }
        </div>
    </div>
    <div class="form">
        <form method="post" asp-controller="Home" asp-action="RegistreerExtraLid">
            <div class="form-group">
                <label>Voornaam extra lid</label>
                <input type="text" name="voornaam" class="form-control">
            </div>

            <div class="form-group">
                <label>Familienaam extra lid</label>
                <input type="text" name="familienaam" class="form-control">
            </div>
            <button type="submit" class="btn">Registreer Aanwezigheid</button>
        </form>
    </div>
</body>

