@model IEnumerable<Lid>
@{
    ViewData["Title"] = "Taijitan Yoshin Ryu VZW";
}
<head>
    <link rel="stylesheet" href="~/css/homeAanwezigheden.css" />
    <link rel="stylesheet" href="~/css/sidenav.css" />

</head>
<body>
    <div id="sidenavAanwezigheden" class="sidenav">
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ALLES">ALLES</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="WIT">WIT</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="GEEL">GEEL</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ORANJE">ORANJE</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="GROEN">GROEN</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="BLAUW">BLAUW</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="BRUIN">BRUIN</a>
        <a asp-controller="Home" asp-action="GeefAanwezighedenPerGraad" asp-route-graad="ZWART">ZWART</a>
    </div>
    <div class="containerMissAanwezigheden">
        <h1 class="header">Registreer aanwezigheid</h1>
        <div class="form-group form flex-column">
            <a class="buttons" asp-controller="Home" asp-action="GeefAlleLeden">Toon alle leden</a>
            <a class="buttons" id="irritant">Registreer niet-ingeschreven lid</a>
            <a class="buttons" asp-controller="Home" asp-action="ToOefeningState">Aanwezigheden zijn geregistreerd</a>
        </div>
        <div class="containerAanwezighedenCards">
            @foreach (var lid in Model) {

                <div class="card @(lid.Graad.ToString().ToLower().StartsWith("dan") ? "zwart" : lid.Graad.ToString().ToLower())" style="background-color:@(lid.benIkAanwezigVandaag()?"var(--aanwezigheidGemeld)":"var(--accent5)"); border: 5px solid @(lid.Graad.ToString("").ToLower().StartsWith("dan") ? "black" : lid.Graad.ToString("").ToLower())">
                    <img src="~/img/stock.jpg" class="float-left pf" />
                    <a asp-controller="Home" asp-action="RegistreerAanwezigheid" asp-route-id="@lid.Id" class="lidButton nameAnchor">@lid.Familienaam<br /> @lid.Voornaam</a>
                </div>
            }
        </div>
    </div>
</body>

